@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;594&family=Montserrat&family=Poppins:ital,wght@0,400;0,500;0,600;1,300&family=Raleway:ital,wght@0,900;1,900&family=Sacramento&family=Ubuntu&display=swap');


#about {
    margin-top: 10rem;
}

.about_container {

    display: flex;
    flex-flow: row;
    justify-items: center;
    flex: 1;
    margin: 0 3rem;
    gap: 3rem;
    margin-top: 7rem;
    margin-left: 8rem;
    margin-right: 8rem;


}


.about_icons {
    font-size: 3rem;
    align-items: center;
    color: aliceblue;
}


.about_header {
    font-size: 2.1rem;
    font-weight: 200;
    font-family: 'Raleway';
    text-align: center;
    color: white;
}


p {
    font-family: 'popins';
    font-weight: 500;
    font-size: 1.5rem;
    color: white;
    padding: 1rem 1.5rem;
    margin-top: 2.5rem;
}

article {
    background: var(--color-gray-600);
    width: 40rem;
    height: 20rem;
    border-radius: 1rem 3rem;
    cursor: pointer;

}

article:hover {
    border: 1px solid var(--color-gray-600);
    transform: scale(1.1);
    transition: var(--transition);


}

.about_intro {
    display: block;
    text-align: center;
    font-weight: 800;
}


.about_intr h4,
h1 {
    font-size: 3rem;

}





/* MEDIA QUERIS FOR MEDIUM AND SMALL SCREENS





Media Qurrey > Medium Devices */


@media screen and (max-width:1024px) {
    #about {
        margin-top: 40rem;
    }


    .about_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem auto 4rem;



    }

    article {
        width: 75%;
    }


}


/* Media Qurrey > Small Devices*/


@media screen and (max-width:600px) {

    #about {
        margin-top: 30rem;
    }

    .about_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem auto 4rem;





    }

    article {
        width: 75%;
    }

}